.shadow-cont.moviedetails-cont{
    width:800px;
    background-color: #000;
}

.moviedetails-image{
    height:250px;
}


.moviedetails-info{
    display: flex;
    flex-direction: column;
}

.moviedetails-h1{
    font-weight: normal;
    width:100%;
    display: block;
    color:#FFF;
    font-size: 1.7rem;
    margin:0 0 35px 45px;
}

.moviedetails-description{
    color:#FFF;
    font-size: 0.8rem;
    margin: 0 0 35px 45px;
}


.moviedetails-rating{
    color:#FFF;
    margin: 0 0 0 45px;
}

.moviedetails-spanrating{
    color:var(--orange);
    font-weight: bold;
    font-size: 1.5rem;

}

.moviedetails-btn-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:40px 0 35px 45px;
}


/*BUTTONS STYLING*/

.icon.update,.icon.warning{
    font-size: 1.2rem;
    bottom:2px
}

.btn-txt.update-txt,.btn-txt.warning-txt{
    position: relative;
    bottom: 6px;
}