.shadow-cont.moviedetails-cont{
    width:800px;
    background-color: #000;
    padding:25px;
}

.moviedetails-image{
    height:250px;
}


.moviedetails-info{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 45px;
}

.moviedetails-btn-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:30px 0 0 0;
}

.moviedetails-h1{
    font-weight: normal;
    width:100%;
    display: block;
    color:#FFF;
    font-size: 1.7rem;
    margin:0 0 10px 0;
}

.moviedetails-description{
    color:#FFF;
    width:520px;
    font-size: 0.8rem;
    margin: 0 0 35px 0;
    overflow: hidden;
}

.moviedetails-small{
    color:#FFF;
}


.moviedetails-rating{
    color:#FFF;
    margin-bottom: 10px;
}

.moviedetails-spanrating{
    color:var(--orange);
    font-weight: bold;
    font-size: 1.5rem;
}

.moviedetail-genre{
    color:var(--orange);
    margin-bottom: 30px;
}



