button{
    font-family: Roboto;
    font-weight: 500;
    border: none;
    background: white;
    text-decoration: none;
    min-width: 90px;
    border-radius: 4px;
    padding: 0px 10px;
    height:25px;
    align-items: start;
    margin-right: 10px;
}

.user.plus{
    position: relative;
    margin-right: 8px;
    font-size: 1.2rem;
    bottom: -2px;
}

.signup-btn{
    width:100px;
}

.orange-btn.back-btn{
    width:100px;
    margin-bottom: 10px;
}


.delete-btn{
    position: relative;
    bottom: 6px;
}

.btn-txt.back-txt{
    position: relative;
    bottom: 11px;
    font-size: 0.9rem;
}


.icon.delete{
    font-size: 1.1rem;
}

.icon.back{
    font-size: 1.5rem;
    bottom: 5px;
}

.icon.addreview{
    position: relative;
    bottom: -1px;
    color: var(--orange)
}






