/*CONTAINER STYLING*/
.shadow-cont.profile-cont{
    display:flex;
    flex-direction: column;
}

.shadow-cont.info-cont{
    margin-top: 10px;
    font-size: 0.9rem;
    text-align: center;
    width: 300px;

    padding:20px;
    background-color: var(--lightgrey1);
    display:flex;
    flex-direction: column;
}

.shadow-cont.user-info{
    font-size: 1rem;
    width: 1024px;
    margin-top: 10px;
    padding:20px;
    background-color: var(--lightgrey1);
    display:flex;
    flex-direction: row;
}


/*USER LIST STYLING*/
.userlist{
    width:970px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: var(--lightgrey2);
    padding:5px;
    overflow: hidden;
}

.ul-users{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.user-li{
    margin:5px  5px;
    display: flex;
}


.user-detail,.user-email{
    font-size: 0.9rem;
}

.user-detail{
    width:300px;
}

.user-email{
    width:450px;
}