.shadow-cont.addmovie-cont{
    background-color: var(--lightgrey2);
    width:750px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.movie-form-cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    padding:0 25px 25px 25px;
}

.movie-title-genre-cont,.movie-file-add-cont{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.movie-file-add-cont{
    margin:15px 0
}

.movie-input,.movie-input-file{
    display: block;
    background-color: var(--lightgrey1);
    border-radius: 4px;
}

.movie-input.title{
    height:25px;
}

.movie-input{
    border:none;
    width:450px;
}

.movie-input-file{
    border:none;
    size:450px;
    margin-right: 200px;
}



input[type=file]::file-selector-button {
    border: none;
    padding: 5px;
    border-radius: 4px;
    background: linear-gradient(rgba(243,187,0,1) 0%, rgb(219, 120, 0) 100%);
    transition: 1s;
}


.movie-input.textarea{
    width:700px;
    height:200px;
    vertical-align: top;
    background-color: var(--lightgrey1);
    overflow: auto;
    resize:none;
    border:none
}

.movie-input:focus{
    outline: none !important;
    border: 2px solid var(--orange);
}

.movie-title-cont{
    display: flex;
    align-self: stretch;
    justify-content: center;
    padding:10px;
    background: #000;
    color:#FFF;
    border-radius: 10px 10px 0 0;
}

.icon.addreview{
    position: relative;
    bottom: -1px;
    color: var(--orange)
}

.movie-genre{
    margin-left: 15px;
}

.movie-select{

    display: block;
    background: linear-gradient(rgba(243,187,0,1) 0%, rgb(219, 120, 0) 100%);
    border:none;
    border-radius: 4px;
    padding: 4px;
}

option{
    background: #c4c4c4;
}