.shadow-cont.signup-cont{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    width:350px;
    height: 300px;
    background-color: #413C3C;
    border-radius: 10px;
}

.form-button:disabled{
    background: #6eb824;
}