@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/*CSS RESET*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: var(--darkgrey1);
}

Nav{
  z-index: 4;
}

/*GENERAL COLORS*/
:root {
  --black:#000;
  --darkgrey1: #525151;
  --darkgrey2: #464343;
  --lightgrey1: #a1a1a1;
  --lightgrey2: #797979;
  --orange:#f3a008;
}


.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


main {
  margin-top: 120px;
}


/*STYLING CONTAINERS WITH FLEX ROW AND FLEX COLUMN*/
.position-cont-row{
  width:1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.position-cont-col{
  width:1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn-cont{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

/*GENERAL SHADOWCONTAINER  STYLING*/
.orange-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
  width:750px;
  background: linear-gradient(rgba(243,187,0,1) 0%, rgb(219, 120, 0) 100%);
  height:40px;
}


/*GENERAL BUTTON STYLING*/

.default-btn.orange-btn:hover{
  color: #f6eab1;
}

.default-btn.green-btn{
  background: linear-gradient(rgba(59,193,37,100) 0%, rgba(5,120,3,1) 100%);
  color:#FFFFFFFF;
}

.default-btn.green-btn:hover{
  color: #6eb824;
}

.default-btn.red-btn{
  color:#FFF;
  background: linear-gradient(rgba(246,5,5,100) 0%, rgba(134,8,8,100) 100%);
}

.default-btn.red-btn:hover{
  color:#cbb8b8;
}


.btn-txt.back-txt{
  position: relative;
  bottom: 11px;
  font-size: 0.9rem;
}



/*GENERAL ICONS*/
.icon.back{
  font-size: 1.5rem;
  bottom: 5px;
}






