
/*navcontent holds the navbeam(forms the navbar shape) and the navigation(buttons etc.)container*/
.navcontainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

/*navbarshape*/
.navbeam::after {
    content: "";
    display: flex;
    justify-content: center;
    position: relative;
    width: 1024px;
    height: 70px;
    background-color: #000;
}

/*navbarshape*/
.navbeam {
    content: "";
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    width: 100vw;
    height: 70px;
    background-color: #000;
    filter: drop-shadow(0px 4px 3px #29292b);
}

/*navbarshape*/
.navbeam::before {
    content: "";
    position: absolute;
    display: block;
    border-radius: 12px;
    width: 250px;
    height: 90px;
    background-color: #000;
    filter: drop-shadow(0px 4px 3px #29292b);
}


/*logo in the nav*/
.linklogonav {
    margin-top: 6px;
    position: absolute;
    z-index: 2;
}

.logonav {
    z-index: 1;
}

/*.navigation holds the input field and the buttons*/
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    height: 70px;
    position: absolute
}

/*list of the buttons*/
#navbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/*styling the input buttons*/
#searchmovieinput
{
    height: 25px;
    border:none;
    outline: none;
    border-radius: 6px 0px 0px 6px;
    padding-left:6px;
}

#searchcontainer{
    display: flex;
    flex-direction: row;
}



.navbutton:hover{
   color: #f6eab1;
}

.navbutton.searchbutton{
    border-radius: 0px 6px 6px 0px;
}

/*BUTTON STYLING*/
.default-btn.orange-btn{
    color:#000;
    background: linear-gradient(rgba(243,187,0,1) 0%, rgb(219, 120, 0) 100%);
}




.default-btn.orange-btn.search-btn{
    border-radius: 0 5px 5px 0;
}

.btn-txt.delete{
    position: relative;
    bottom: 5px;
}

.btn-txt.add-txt{
    position: relative;
    font-size: 0.9rem;
    bottom: 2px;
}

.btn-txt.logout-txt,.btn-txt.profile-txt,.signup-txt{
    position: relative;
    font-size: 0.9rem;
    bottom: 6px;
}

.btn-txt.signin-txt{
    position: relative;
    bottom: 5px;
}

.signup-txt{
    position: relative;
    bottom: 7px;
}

.search-txt{
    position: relative;
    bottom: 3px;
}



/*ICONS*/
.icon{
    position: relative;
    font-size: 0.9rem;
    margin-top: 5px;
    margin-right: 5px;
    bottom: 3px;
}

.icon.logout, .icon.myprofile, .icon.signup, .icon.signin{
    font-size: 1.2rem;

}

.icon.signin{
    font-size: 1.1rem;
}

.icon.plus{
    bottom: -1px;
}







